body {
    background-color: #E81B1B;
    }
  #header {
    font-size: 20px;
    background-color: #CFCF10;
    text-shadow: 2px 2px 3px;
    color: #E81B1B;
    padding: 20px 25px;
  }
  h1 {
    text-align: center;
  }
  #rules {
    text-align: center;
    font-size: 25px;
    text-shadow: 2px 1px 1px;
  }
  #buttons {
    margin: 100px auto;
    width: 600px;
  }
  button {
    margin: 10px 10px;
    border: 2px solid gold;
    box-shadow: 8px 5px 5px;
    padding: 30px;
    background-color: gold;
    cursor: pointer;
  }
  #resultsBox {
    font-size: 30px;
    font-family: Times New Roman;
    text-shadow: 0.5px 2px 3px;
    color: gold;
    text-align: center; 
  }
  h4 {
    color: gold;
    font-size: 25px;
    text-shadow: 1px 1px 2px;
  }
  